*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
}

img{
    width: 100%; 
    height: 100%;
}
.carousel-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 500px;
    width: 1000px;
    position: relative;
}
.carousel-slide{  
    width: 100%;
    opacity: 1;
    transform: translate(-1000px);
    align-self: center;
    position: absolute;
    transition: transform 1200ms ease-in-out,
    opacity 100ms ease-in-out;
    z-index: -1;
    
}
.active{
    z-index: 1;
    opacity: 1;
    transform: translate(0px);
    
}
.move-right{
    transform: translate(1000px);
}
.carousel-left, .carousel-right{
    z-index: 5;
    background-color: transparent;
    outline: none;
    border: none;
    color: rgba(255, 255, 255, 0.9);
    width: 2em;
    height: 2em;
    cursor: pointer;
    font-weight: bold;
    font-size: x-large;
    border-radius: 5px;
}
.carousel-right{
    right: 0;
}
.carousel-left:hover, .carousel-right:hover{
    color: rgba(0, 0, 0, 0.9);
    background-color: rgba(255, 255, 255, 0.9);        
    
}
